/* Modernizr classes
.no-touchevents .box { color: red; }
.touchevents .box { color: green; }
*/

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 20px;
  right: 10px;
  top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
  background: #000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* End hamburger menu styles */

body, html {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-size: 16px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  min-width: 280px;
}

h1 {
  font-weight: 400;
}

/* Main Container Styles */
.main-container p {
  width: 70%;
  min-width: 300px;
  max-width: 700px;
  margin: 0 auto 20px auto;
}


/* Navigation Styles */

nav li {
  list-style-type: none;
  padding-left: 20px;
}

.wide-nav li {
  color: #000;
}

.wide-nav a, .wide-nav a:visited {
  color: #000;
  text-decoration: none;
}

.no-touchevents .wide-nav a:hover {
  border-bottom: 1px solid #000;
}

.narrow-nav li {
  color: #fff;
}

.narrow-nav a, .narrow-nav a:visited {
  color: #fff;
  text-decoration: none;
}

.no-touchevents .narrow-nav a:hover {
  border-bottom: 1px solid #fff;
}

.logout-link {
  cursor: pointer;
}

.no-touchevents nav .logout-link:hover {
  border-bottom: 1px solid #000;
}

.nav-container {
  height: 30px;
  background-color: #31a7ca;
  background-color: #fff;
  padding-top: 10px;
  padding-right: 20px;
}

.wide-nav {
  background-color: #000;
}

.wide-nav li {
  float: right;
}

#github-page-link {
  float: left;
}

.narrow-nav li {
  margin-bottom: 15px;
}

/* Header Styles */
header {
  height: 80px;
  background-color: #31a7ca;
  color: white;
  text-align: center;
  padding-top: 20px;
}

header h1 {
  padding: 0;
  margin: 0;
}

/* Footer Styles */
footer {
  height: 100px;
  /*background-color: #2272b8;*/
  color: #000;
  text-align: center;
  padding-top: 20px;
}

.icons-container a {
		margin: 0 10px;
		position: relative;
		transition: all .2s ease-in;
		text-decoration: none;
		border: 0;
}

.icons-container a:hover {
			top: 3px;
}

/* PollsPage Styles */

.polls-container {
  text-align: center;
}

.poll-card {
  border: 1px solid #868686;
  width: 70%;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 10px;
}

.polls-container a,
.polls-container a:visited {
  color: #000;
  text-decoration: none;
}

.no-touchevents .poll-card:hover {
  background-color: #000;
  color: #fff;
}

.no-touchevents .polls-container a:active {
  text-decoration: none;
  color: #fff;
}

/* Form Styles */

.account-info-form,
.new-poll-form {
  text-align: left;
  width: 250px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
}

.account-info-form input[type='email'],
.account-info-form input[type='password'],
.new-poll-form input[type='text'] {
  display: block;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 200px;
}

.button {
  background: linear-gradient(#1af0f4, #31a7ca);
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: .8em;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  margin-left: 0;
}

.account-info-form label {
  display: block;
}

/* the div that displays the poll title on the main page */
.poll-card {
  text-align: center;
}

@media (max-width: 460px) {
  .narrow-nav {
    display: block;
  }
  .wide-nav {
    display: none;
  }
}

@media (min-width: 460px) {
  .narrow-nav {
    display: none;
  }
  .bm-burger-button {
    display: none;
  }
  .wide-nav {
    display: initial;
  }
}
